.hero{
      background:
        linear-gradient(
            rgba(32, 32, 32, 0.75),
            rgba(90, 17, 17, 0.75)
        ),
        url("../assets/background_img.jfif");
        background-size: cover;
}

.hero-tagline{
    color:#ff8c1a;
    font-weight:600;
    font-size:18px;
    margin-bottom:15px;
}

.hero-title{
    color:white;
    font-size:56px;
    font-weight:700;
    line-height:1.2;
}

.hero-description{
    color:#d8d8d8;
    font-size:18px;
    margin-top:20px;
    margin-bottom:30px;
    max-width:500px;
}
