.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.cartIcon:hover{
    border-bottom: 4px solid #ff9811;
}

.home-container {
   background: linear-gradient(
    to top,
    rgba(214, 53, 53, 0.493) 0%,
    rgba(122, 50, 50, 0.247) 40%,
    rgba(238, 219, 219, 0.74) 60%
  );
}

.card-home-container{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding-bottom: 20px;
}

.card-gradient{
 background: linear-gradient(
    to top,
    rgba(214, 53, 53, 0.493) 0%,
    rgba(122, 50, 50, 0.247) 40%,
    rgb(240, 234, 234) 100%
  );
}

.gradient-overlay{
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.781) 0%,
    rgba(0, 0, 0, 0.178) 20%,
    rgba(0, 0, 0, 0.05) 100%
  );
}

.card-scrolled:hover{
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card-home-container::-webkit-scrollbar {
  height: 8px;
}

.card-home-container::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.search-box input{
 width: 100%;
 border-radius: 5px;
 border: 1px solid #dc3545
}

.search-box input:focus{
  border: 2px solid #dc3545;
  outline: none;
}
